

.boxs{
background-color: blueviolet;
color: blue;
padding: 10px;
}

/*
Problem : can not create the css properties which clashes with other components 
solution : user proper classes with BEM (Block Element Modefier) naming convertion 
navigation -> navigation_container_para
Footer -> footer_navigation_para
*/